@model MvcProject1257883.Models.ViewModel.CustomerListViewModel
@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>
<h3>Customer Details Information</h3>
<div>

    <dl>
        <dt>@Html.DisplayNameFor(model => model.CustomerName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>

        <dt>@Html.DisplayNameFor(model => model.ImageName)</dt>
        <dd>@Html.DisplayFor(model => model.ImageName)</dd>

        <dt>@Html.DisplayNameFor(model => model.ImageURL)</dt>
        <dd><img src="@Url.Content(Model.ImageURL)" width="80" height="80" /></dd>
    </dl>

    @Html.ActionLink("Back to list", "Index")
</div>