@model MvcProject1257883.Models.ViewModel.CreateCustomerViewModel
@{
    /**/

    ViewBag.Title = "Edit";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<h2>Edit</h2>
@using (Html.BeginForm("AddOrEdit", "Customer", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "SubmitForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.ImageName)
    <h4>Edit Product</h4>
    <div class="form-group row">
        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Date, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            <img src="@Url.Content(Model.ImageURL)" width="80" height="80" class="change_edit" />
            <input type="file" name="ImageFile" class="form-control changeImage" required />
            @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DistrictId, new SelectList(Model.DisList, "Id", "Districtname"), "Select District")
            @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.ConfirmEmail, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-success" />
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Date').datepicker({
            changeMonth: true,
            changeYear: true
        });
    })
    $(function () {
        $('.changeImage').change(function () {
            var input = this;
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.change_edit').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0])
            }
            else {
                $('.change_edit').attr('src', '/Images/@Model.ImageURL');
            }
        })
    })
</script>

